## Baseline model

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import numpy as np
df = pd.read_csv("data/Train.csv")


df

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0
...,...,...,...,...,...,...,...,...,...,...
107828,train_id_107828,2018-07-05,WKL 0000,TUN,TUN,2018-07-05 23:00:00,2018-07-06 02.00.00,SCH,TU 32AIML,0.0
107829,train_id_107829,2018-01-13,UG 0003,DJE,TUN,2018-01-13 08:00:00,2018-01-13 09.00.00,SCH,UG AT7AT7,0.0
107830,train_id_107830,2018-11-07,SGT 0000,TUN,TUN,2018-11-07 05:00:00,2018-11-07 12.50.00,SCH,TU 736IOK,0.0
107831,train_id_107831,2018-01-23,UG 0010,TUN,DJE,2018-01-23 18:00:00,2018-01-23 18.45.00,ATA,TU CR9ISA,0.0
107832,train_id_107832,2018-11-13,UG 0002,TUN,DJE,2018-11-13 06:15:00,2018-11-13 07.05.00,SCH,TU CR9ISA,0.0

In [34]:
X = df.drop('target', axis = 1)
y = df.target

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
y_train.shape
y_pred = np.full(y_train.shape,y_train.median())

print(y_pred.shape)
print(y_train.shape)
print(y_pred)

(91658,)
(91658,)
[14. 14. 14. ... 14. 14. 14.]

In [36]:


# score for train data
y_baseline_pred_train = np.full(y_train.shape,y_train.mean())
rmse_baseline_train = mean_squared_error(y_train,y_baseline_pred_train, squared=False)
r2_baseline_train = r2_score(y_train,y_baseline_pred_train)

#score for test data
y_baseline_pred_test = np.full(y_test.shape,y_train.mean())
rmse_baseline_test = mean_squared_error(y_test,y_baseline_pred_test, squared=False)
r2_baseline_test = r2_score(y_test,y_baseline_pred_test)

print('BASELINE SCORES')
print('TRAIN SCORE')
print(f'RMSE: {rmse_baseline_train}')
print(f'r2: {r2_baseline_train}')
print()
print('TEST SCORE')
print(f'RMSE: {rmse_baseline_test}')
print(f'r2: {r2_baseline_test}')

BASELINE SCORES
TRAIN SCORE
RMSE: 117.45080592410815
r2: 0.0

TEST SCORE
RMSE: 115.3294291772273
r2: -2.2495487938645198e-05