## 1. Load Data

In [11]:
import pandas as pd
import airportsdata

In [14]:
df_train = pd.read_csv('data/Train.csv')
df_train.head()
print(df_train.DEPSTN.nunique())
print(df_train.ARRSTN.unique())
df_train.head()

132
['TUN' 'IST' 'NTE' 'ALG' 'BCN' 'ORY' 'FCO' 'NCE' 'MRS' 'MED' 'FRA' 'BRU'
 'DJE' 'LYS' 'CMN' 'BEG' 'OUA' 'GVA' 'MXP' 'BEY' 'MAD' 'JED' 'ABJ' 'VIE'
 'MLA' 'BLQ' 'SFA' 'LIS' 'LHR' 'CDG' 'MIR' 'CAI' 'DUS' 'HAM' 'NBE' 'ZRH'
 'AMS' 'NDR' 'TLS' 'VCE' 'SXB' 'MUC' 'LGW' 'CRL' 'ORN' 'DKR' 'BOD' 'SXF'
 'LJU' 'OST' 'NKC' 'BKO' 'TOE' 'AHU' 'YUL' 'PRG' 'CPH' 'ARN' 'OUD' 'BRQ'
 'GAF' 'JIB' 'BUD' 'OPO' 'KGL' 'NIM' 'SVO' 'LIL' 'OSR' 'EBL' 'TNG' 'PSA'
 'CGN' 'AYT' 'GAE' 'NAP' 'BJA' 'KRT' 'LFW' 'TBJ' 'PMO' 'TMR' 'FBM' 'RAK'
 'GNB' 'ESB' 'CZL' 'LBV' 'KSC' 'CKY' 'AMM' 'LED' 'BTS' 'MVB' 'HBE' 'OTP'
 'CAG' 'VNO' 'TRN' 'ATH' 'ADB' 'SKG' 'BYJ' 'DSS' 'COO' 'IEV' 'LUX' 'KBP'
 'DOH' 'FIH' 'EBM' 'BDS' 'VKO' 'AAE' 'BLL' 'HAJ' 'BRI' 'CTA' 'VRN' 'SKX'
 'VOG' 'BGY' 'LAD' 'KRR' 'SJJ' 'GHA' 'RTM' 'TPS']

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0

In [13]:
import airportsdata
airports = airportsdata.load('IATA')  # key is IATA code
print(airports['TUN'])

{'icao': 'DTTA', 'iata': 'TUN', 'name': 'Tunis Carthage International Airport', 'city': 'Tunis', 'subd': 'Tunis', 'country': 'TN', 'elevation': 22.0, 'lat': 36.8510017395, 'lon': 10.2271995544, 'tz': 'Africa/Tunis'}

In [5]:
df_test = pd.read_csv('data/Test.csv')
df_test

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC
0,test_id_0,2016-05-04,TU 0700,DJE,TUN,2016-05-04 06:40:00,2016-05-04 07.30.00,ATA,TU 32AIMF
1,test_id_1,2016-05-05,TU 0395,TUN,BKO,2016-05-05 15:20:00,2016-05-05 20.05.00,ATA,TU 320IMW
2,test_id_2,2016-05-06,TU 0745,FRA,TUN,2016-05-06 10:00:00,2016-05-06 12.25.00,ATA,TU 32AIMC
3,test_id_3,2016-05-11,TU 0848,BEY,TUN,2016-05-11 09:40:00,2016-05-11 13.10.00,ATA,TU 31BIMO
4,test_id_4,2016-05-11,TU 0635,ORY,MIR,2016-05-11 09:50:00,2016-05-11 12.35.00,ATA,TU 736IOQ
...,...,...,...,...,...,...,...,...,...
9328,test_id_9328,2018-09-12,TU 0998,TUN,NCE,2018-09-12 14:15:00,2018-09-12 15.45.00,ATA,TU 320IMV
9329,test_id_9329,2018-09-27,WKL 0000,TUN,TUN,2018-09-27 22:00:00,2018-09-28 01.00.00,SCH,TU 32AIMG
9330,test_id_9330,2018-09-03,UG 1601,SJJ,TUN,2018-09-03 09:20:00,2018-09-03 11.10.00,SCH,TU CR9ISA
9331,test_id_9331,2018-09-15,UG 0008,TUN,DJE,2018-09-15 14:30:00,2018-09-15 15.30.00,SCH,UG AT7LBD
9332,test_id_9332,2018-09-19,UG 0009,DJE,TUN,2018-09-19 16:15:00,2018-09-19 17.15.00,SCH,UG AT7LBD