## 1. Load Data

In [70]:
import pandas as pd

In [71]:
df_train = pd.read_csv("data/Train.csv")
df_train.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0

In [72]:
import airportsdata

airports = airportsdata.load("IATA")  # key is IATA code
print(airports["TUN"])

{'icao': 'DTTA', 'iata': 'TUN', 'name': 'Tunis Carthage International Airport', 'city': 'Tunis', 'subd': 'Tunis', 'country': 'TN', 'elevation': 22.0, 'lat': 36.8510017395, 'lon': 10.2271995544, 'tz': 'Africa/Tunis'}

In [73]:
df_test = pd.read_csv("data/Test.csv")
df_test.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC
0,test_id_0,2016-05-04,TU 0700,DJE,TUN,2016-05-04 06:40:00,2016-05-04 07.30.00,ATA,TU 32AIMF
1,test_id_1,2016-05-05,TU 0395,TUN,BKO,2016-05-05 15:20:00,2016-05-05 20.05.00,ATA,TU 320IMW
2,test_id_2,2016-05-06,TU 0745,FRA,TUN,2016-05-06 10:00:00,2016-05-06 12.25.00,ATA,TU 32AIMC
3,test_id_3,2016-05-11,TU 0848,BEY,TUN,2016-05-11 09:40:00,2016-05-11 13.10.00,ATA,TU 31BIMO
4,test_id_4,2016-05-11,TU 0635,ORY,MIR,2016-05-11 09:50:00,2016-05-11 12.35.00,ATA,TU 736IOQ

In [74]:
from geopy import merge_geodata
from geopy import get_geodata

# add geodata to dataframe
geo_data_train = get_geodata(df_train.DEPSTN, df_train.ARRSTN)
geo_data_test = get_geodata(df_test.DEPSTN, df_test.ARRSTN)

df_train_geo = merge_geodata(df_train, geo_data_train, 'DEPSTN')
df_train_geo = merge_geodata(df_train_geo, geo_data_train, 'ARRSTN')

df_test_geo = merge_geodata(df_test, geo_data_test, 'DEPSTN')
df_test_geo = merge_geodata(df_test_geo, geo_data_test, 'ARRSTN')

df_train_geo

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target,iata_DEPSTN,country_DEPSTN,lat_DEPSTN,lon_DEPSTN,elevation_DEPSTN,iata_ARRSTN,country_ARRSTN,lat_ARRSTN,lon_ARRSTN,elevation_ARRSTN
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0,CMN,MA,33.367500,-7.58997,656.0,TUN,TN,36.851002,10.22720,22.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0,MXP,IT,45.630600,8.72811,768.0,TUN,TN,36.851002,10.22720,22.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0,TUN,TN,36.851002,10.22720,22.0,IST,TR,41.275333,28.75200,325.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0,DJE,TN,33.875000,10.77550,19.0,NTE,FR,47.153198,-1.61073,90.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0,TUN,TN,36.851002,10.22720,22.0,ALG,DZ,36.691002,3.21541,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107828,train_id_107828,2018-07-05,WKL 0000,TUN,TUN,2018-07-05 23:00:00,2018-07-06 02.00.00,SCH,TU 32AIML,0.0,TUN,TN,36.851002,10.22720,22.0,TUN,TN,36.851002,10.22720,22.0
107829,train_id_107829,2018-01-13,UG 0003,DJE,TUN,2018-01-13 08:00:00,2018-01-13 09.00.00,SCH,UG AT7AT7,0.0,DJE,TN,33.875000,10.77550,19.0,TUN,TN,36.851002,10.22720,22.0
107830,train_id_107830,2018-11-07,SGT 0000,TUN,TUN,2018-11-07 05:00:00,2018-11-07 12.50.00,SCH,TU 736IOK,0.0,TUN,TN,36.851002,10.22720,22.0,TUN,TN,36.851002,10.22720,22.0
107831,train_id_107831,2018-01-23,UG 0010,TUN,DJE,2018-01-23 18:00:00,2018-01-23 18.45.00,ATA,TU CR9ISA,0.0,TUN,TN,36.851002,10.22720,22.0,DJE,TN,33.875000,10.77550,19.0
107832,train_id_107832,2018-11-13,UG 0002,TUN,DJE,2018-11-13 06:15:00,2018-11-13 07.05.00,SCH,TU CR9ISA,0.0,TUN,TN,36.851002,10.22720,22.0,DJE,TN,33.875000,10.77550,19.0