## 1. Load Data

In [11]:
import pandas as pd
import airportsdata

In [14]:
df_train = pd.read_csv('data/Train.csv')
df_train.head()
print(df_train.DEPSTN.nunique())
print(df_train.ARRSTN.unique())
df_train.head()

132
['TUN' 'IST' 'NTE' 'ALG' 'BCN' 'ORY' 'FCO' 'NCE' 'MRS' 'MED' 'FRA' 'BRU'
 'DJE' 'LYS' 'CMN' 'BEG' 'OUA' 'GVA' 'MXP' 'BEY' 'MAD' 'JED' 'ABJ' 'VIE'
 'MLA' 'BLQ' 'SFA' 'LIS' 'LHR' 'CDG' 'MIR' 'CAI' 'DUS' 'HAM' 'NBE' 'ZRH'
 'AMS' 'NDR' 'TLS' 'VCE' 'SXB' 'MUC' 'LGW' 'CRL' 'ORN' 'DKR' 'BOD' 'SXF'
 'LJU' 'OST' 'NKC' 'BKO' 'TOE' 'AHU' 'YUL' 'PRG' 'CPH' 'ARN' 'OUD' 'BRQ'
 'GAF' 'JIB' 'BUD' 'OPO' 'KGL' 'NIM' 'SVO' 'LIL' 'OSR' 'EBL' 'TNG' 'PSA'
 'CGN' 'AYT' 'GAE' 'NAP' 'BJA' 'KRT' 'LFW' 'TBJ' 'PMO' 'TMR' 'FBM' 'RAK'
 'GNB' 'ESB' 'CZL' 'LBV' 'KSC' 'CKY' 'AMM' 'LED' 'BTS' 'MVB' 'HBE' 'OTP'
 'CAG' 'VNO' 'TRN' 'ATH' 'ADB' 'SKG' 'BYJ' 'DSS' 'COO' 'IEV' 'LUX' 'KBP'
 'DOH' 'FIH' 'EBM' 'BDS' 'VKO' 'AAE' 'BLL' 'HAJ' 'BRI' 'CTA' 'VRN' 'SKX'
 'VOG' 'BGY' 'LAD' 'KRR' 'SJJ' 'GHA' 'RTM' 'TPS']

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0

In [29]:
import airportsdata
airports = airportsdata.load('IATA')  # key is IATA code
print(airports['SXF'])

KeyError: 'SXF'

In [15]:
df_test = pd.read_csv('data/Test.csv')
df_test.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC
0,test_id_0,2016-05-04,TU 0700,DJE,TUN,2016-05-04 06:40:00,2016-05-04 07.30.00,ATA,TU 32AIMF
1,test_id_1,2016-05-05,TU 0395,TUN,BKO,2016-05-05 15:20:00,2016-05-05 20.05.00,ATA,TU 320IMW
2,test_id_2,2016-05-06,TU 0745,FRA,TUN,2016-05-06 10:00:00,2016-05-06 12.25.00,ATA,TU 32AIMC
3,test_id_3,2016-05-11,TU 0848,BEY,TUN,2016-05-11 09:40:00,2016-05-11 13.10.00,ATA,TU 31BIMO
4,test_id_4,2016-05-11,TU 0635,ORY,MIR,2016-05-11 09:50:00,2016-05-11 12.35.00,ATA,TU 736IOQ

In [32]:
# add geo data to dataframe
import airportsdata
def get_geodata(dep,arr):
    dep_iata = set(dep.unique())
    arr_iata = set(arr.unique())


    iata = dep_iata | arr_iata

    airports = airportsdata.load('IATA')

    geo_data = [airports.get(code).get('iata') for code in iata]

In [33]:
get_geodata(df_train.DEPSTN,df_train.ARRSTN)

TypeError: 'NoneType' object is not subscriptable